[MASTER]
init-hook='import sys; sys.path.append("SoftPro")'
django-settings-module=SoftPro.settings

[MESSAGES CONTROL]
# Выключаем некоторые проверки, которые часто вызывают лишние предупреждения в Django
disable=
    C0114,  # Модуль без документации
    C0115,  # Класс без документации
    C0116,  # Метод без документации
    C0103,  # Не соответствует стайлгайду именование переменных и атрибутов
    R0903,  # У класса слишком мало публичных методов (например, для моделей)
    R0901,  # У класса слишком много родителей
    R0902,  # У класса слишком много атрибутов
    E1101,  # Pylint не может найти атрибуты для моделей Django (objects)
    W0401,  # "import *" (например, в settings.py)
    W0614,  # "import *" (например, в settings.py)
    W0511,  # TODO внутри кода (иногда используется специально)
    W0622,  # Переопределение встроенных имен
    W0201,  # Атрибут определен вне __init__ метода

[FORMAT]
# Устанавливаем ширину строки (по умолчанию 80)
max-line-length=120

[DESIGN]
# Максимальное количество методов в классе
max-attributes=10

[TYPECHECK]
# Позволяет Pylint находить атрибуты у моделей Django
django-settings-module=SoftPro.settings

# Исключаем миграции из анализа
ignore=sports_pb2.py, sports_pb2_grpc.py
ignored-modules=migrations
ignored-classes=FuzzyInteger,FuzzyChoice,FuzzyDateTime

[LOGGING]
# Устанавливаем формат для сообщений логгера
logging-format-style=old

